<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <div th:replace="base :: head"></div>
</head>
<body>
<nav th:replace="base :: navlinks"></nav>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Category ID</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${categories}">
                    <td th:text="${c.categorieID}"></td>
                    <td th:text="${c.categorieName}"></td>
                    <td>
                        <a th:href="@{update_categorie/{id}(id=${c.categorieID})}">Update</a>
<!--                        <a th:href="@{detail_employee/{id}(id=${employee.employeeID})}">Details</a>-->
                        <a th:href="@{delete_categorie/{id}(id=${c.categorieID})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Car ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${cars}">
                    <td th:text="${c.carID}"></td>
                    <td th:text="${c.carName}"></td>
                    <td th:text="${c.carMake}"></td>
                    <td th:text="${c.carModel}"></td>
                    <td th:text="${c.price}"></td>
                    <td>
                        <a th:href="@{update_car/{id}(id=${c.carID})}">Update</a>
                        <a th:href="@{delete_car/{id}(id=${c.carID})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="base :: bootstrapScripts"></div>
</body>
</html>